:root {
  --oxford-blue: rgb(15, 25, 46);
  --white: rgb(255, 255, 255);
  --ocean-green: rgb(95, 187, 151);

  --black-lg: rgba(0, 0, 0, 1.00);
  --black-md: rgba(0, 0, 0, 0.66);
  --black-sm: rgba(0, 0, 0, 0.33);

  --platinum-lg: rgb(229, 229, 229, 1.00);
  --platinum-md: rgb(229, 229, 229, 0.65);
  --platinum-sm: rgb(229, 229, 229, 0.045);
}

:root {
  --background-main: var(--oxford-blue);

  --layer-pri-bg: var(--black-lg);
  --layer-sec-bg: var(--platinum-sm);

  --text-pri-color: var(--platinum-lg);
  --text-sec-color: var(--platinum-md);

  --border-pri-color: var(--black-lg);
  --border-sec-color: var(--black-md);

  --highlighted-color: var(--ocean-green);
}
